{% extends "public/layout.html" %}


{% block body %}
<!--<div class="col-sm-8">-->
    <table class="table table-striped">
        <!--如果后端使用listview的话就是遍历object_list-->
        <!--如果后端使用template模版的话就是遍历context_data['permissions']-->
        {% for permission in permissions %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <!--<td>{{ permission.id }}</td>-->
                <td>{{ permission.name }}</td>
                <td>{{ permission.codename }}</td>
            </tr>
        {% endfor %}
    </table>
<!--</div>-->
{% endblock %}