<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" method="post">
        <ul>
        <li><input type="text" name="username"></li>
        <li><input type="checkbox" name="fav" value="1"> linux</li>
        <li><input type="checkbox" name="fav" value="2"> python</li>
        <li><input type="checkbox" name="fav" value="3"> shell</li>
        <li><input type="submit" value="submit"></li>
        </ul>
    </form>
</body>
</html>